<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.evolution.haotian.xiaomiaccountbridge"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.miui.tsmclient" />
        <package android:name="com.miui.nextpay" />
    </queries>

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Haotian Xiaomi account bridge">
        <receiver
            android:name=".XiaomiAccountVisibilityReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
                <action android:name="android.accounts.action.VISIBLE_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
