<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.finddevice"
    android:versionCode="1"
    android:versionName="1.0-haotian">

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Find Device compatibility service"
        android:supportsRtl="true">
        <service
            android:name="com.xiaomi.finddevice.v2.FindDeviceStatusManagerService"
            android:exported="true" />
    </application>
</manifest>
