<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xiaomi.haotian.galleryvideocompat"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Gallery video compatibility"
        android:supportsRtl="true">
        <activity
            android:name=".GalleryVideoRedirectActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.miui.videoplayer.LOCAL_VIDEO_PLAY" />
                <action android:name="com.miui.videoplayer.GALLERY_VIDEO_PLAY" />
                <action android:name="com.miui.mediaviewer.VIDEO_PLAY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
    </application>
</manifest>
