<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.haotian.touch"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />

    <application
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:label="@string/app_label">

        <receiver
            android:name=".BootCompletedReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".EdgeSuppressionService"
            android:directBootAware="true"
            android:exported="false" />

        <service
            android:name=".TouchControlService"
            android:directBootAware="true"
            android:exported="false" />
    </application>
</manifest>
