<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.lineagesdkoverlay.haotian">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="2"
             android:targetPackage="lineageos.platform" />
</manifest>
