<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xiaomi.haotian.sony">
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="org.xiaomi.haotian.audio.permission.OPEN_SETTINGS" />
    <permission android:name="org.xiaomi.haotian.sony.permission.CONTROL"
        android:protectionLevel="signature" />
    <uses-permission android:name="org.xiaomi.haotian.sony.permission.CONTROL" />
    <application android:name=".HaotianSonyApplication"
        android:allowBackup="false" android:directBootAware="true"
        android:defaultToDeviceProtectedStorage="true" android:persistent="true"
        android:usesNonSdkApi="true" android:supportsRtl="true"
        android:label="@string/app_name" android:icon="@drawable/ic_sony_headphones"
        android:theme="@style/Theme.SubSettingsBase.Expressive">
        <activity android:name=".SonySettingsActivity" android:exported="true"
            android:permission="org.xiaomi.haotian.sony.permission.CONTROL">
            <intent-filter>
                <action android:name="org.xiaomi.haotian.sony.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".SonyControlService" android:exported="true"
            android:singleUser="true"
            android:permission="org.xiaomi.haotian.sony.permission.CONTROL" />
        <service android:name=".SonyNoiseControlTileService" android:exported="true"
            android:label="@string/noise_tile" android:icon="@drawable/ic_sony_headphones"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
        <receiver android:name=".SonyBootReceiver" android:exported="true" android:singleUser="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
