<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xiaomi.haotian.wifilab"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_WIFI_COUNTRY_CODE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.NETWORK_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_wifi_lab"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive"
        android:usesNonSdkApi="true">

        <activity
            android:name=".WifiLabActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
